# =============== GLOBAL =====================
# Local configuration file (sdk path, etc)
local.properties

# Modules build directories
android-widget-adapters/build/
examples/build/

# Gradle files
.gradle

# Intellij files
.idea/workspace.xml
